---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import Layout from "../../components/Layout.astro";
import Prose from "../../components/Prose.astro";
import { FormattedDate } from "../../components/FormattedDate";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { title, description, pubDate, heroImage } = post.data;
const { Content, remarkPluginFrontmatter } = await render(post);
const { updateDate } = remarkPluginFrontmatter;
---

<Layout title={title} description={description}>
  <main>
    <Prose>
      <article>
        <div>
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="pb-2">
          <div class="flex gap-4 items-end">
            <FormattedDate date={pubDate} />
            {
              updateDate && (
                <div class="text-sm text-zinc-400">
                  Last updated on <FormattedDate date={new Date(updateDate)} />
                </div>
              )
            }
          </div>
        </div>
        <h1>{title}</h1>
        <Content />
      </article>
    </Prose>
  </main>
</Layout>
